:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color-light: #213547;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-color-light: #ffffff;
  --background-color-dark: #242424;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-color: #1a1a1a;
  --button-bg-hover-color: #f9f9f9;
  --button-border-color: transparent;
  --button-border-hover-color: #646cff;
  --transition-duration: 0.25s;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;  
}
a:hover {
  color: var(--link-hover-color);
}

 
body {
  margin: 0;
  display: flex;
  justify-content: center;  
  align-items: center;  
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;  
  box-sizing: border-box;  
}

 
h1 {
  font-size: 2.5em;  
  line-height: 1.2;
}

 
button {
  border-radius: 8px;
  border: 1px solid var(--button-border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: white;  
  cursor: pointer;
  transition: border-color var(--transition-duration), background-color var(--transition-duration);
}
button:hover {
  border-color: var(--button-border-hover-color);
  background-color: var(--button-bg-hover-color);  
  color: var(--link-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

 
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light);
    background-color: var(--background-color-light);
  }
  a:hover {
    color: #747bff;  
  }
  button {
    background-color: var(--button-bg-hover-color);  
    border: 1px solid var(--button-border-color);
  }
}
